body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

#audioFile {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

#colorCanvas {
    width: 90%;
    max-width: 600px;
    height: 300px;
    border: 2px solid #ccc;
    background-color: #fff; /* Default white background */
    margin-bottom: 20px;
}

#instructions {
    text-align: center;
    max-width: 600px;
    color: #555;
}